.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Allow stacking context for child elements */
  overflow: hidden;
}

.imgContainer {
  width: 100%;
  max-width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative; /* Ensures this container is a stacking context */
}

.corpseImg {
  transform: scale(3.5) translateY(0);
  transform-origin: top;
  color: #001219;
  position: relative; /* Needed for z-index to work */
}

.simPointContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure this container is positioned for z-index to work */
  z-index: 10; /* Ensures it's above the image */
  transform: translateZ(10%);
}
